html {
    font-size: 62.5%;
    font-family: sans-serif
}
.main {
    margin: 20px;
    font-size: 2rem;
    background-color: #ccc;
    border: 3.5px solid #333;
    border-radius: 3px;
}
.img {
    height: 300px;
    border: 3.5px solid #333;
    border-radius: 3px;
}
.bt {
    margin: 20px;
}
.bt h1 {
    
}
